if [ "$(uname)" = "Darwin" ]; then
    # Mac-Specific Aliases
    alias ls='gls --color=auto -h'
    alias find='gfind'
    alias pi='sudo port -v install'
    alias pq='port search'
    alias gvim='mvim'
    alias vlc='open -a VLC'
    alias quicktime='open -a QuickTime\ Player'
elif [ "$(uname)" = "Linux" ]; then
    # Linux-Specific Aliases
    if [ -x $(which dircolors) ]; then
        eval $( dircolors -b )
        alias ls='ls --color=auto'
    fi
    alias mvim='gvim'
fi

# General Aliases
alias ll='ls -l'
alias la='ll -a'
alias dh='dirs -v'
alias man='LC_ALL=C LANG=C man'

# Emory Aliases
alias lab='ssh lab6c.mathcs.emory.edu'

# vim: set ft=zsh
