if [ "$(uname)" = "Darwin" ]; then
    # Mac-Specific Aliases
    alias ls='gls --color=auto -h'
    alias find='gfind'
    alias pi='sudo port -v install'
    alias pq='port search'
    alias gvim='mvim'
    alias vlc='open -a VLC'
    alias quicktime='open -a QuickTime\ Player'
elif [ "$(uname)" = "Linux" ]; then
    # Linux-Specific Aliases
    if [ -x $(which dircolors) ]; then
        eval $( dircolors -b )
        alias ls='ls --color=auto'
    fi
    alias mvim='gvim'
fi

# General Aliases
alias ll='ls -l'
alias la='ll -a'
alias dh='dirs -v'
alias man='LC_ALL=C LANG=C man'
alias gi='print_run_cmd gem install --no-ri --no-rdoc'

# Twitter Aliases

print_run_cmd () {
    echo "** running '$@'"
    "$@"
}

n () {
    if [[ -z $1 ]]; then
        print_run_cmd ssh nest2.corp.twitter.com
    else
        print_run_cmd ssh nest$1.corp.twitter.com
    fi
}

alias rn1='print_run_cmd ssh releasenest1.corp.twitter.com'
alias rn2='print_run_cmd ssh releasenest2.corp.twitter.com'

rn () {
    if [[ -z $1 ]]; then
        print_run_cmd ssh releasenest1.corp.twitter.com
    else
        print_run_cmd ssh releasenest$1.corp.twitter.com
    fi
}

# vim: set ft=zsh:
